<h1>Admin Dashboard</h1>
<button  onclick="window.location.href='admin/products';"> Product count: <%= @product_count %> </button>
<button  onclick="window.location.href='admin/products';"> Category count: <%= @category_count %> </button>